@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color: #172013;
    --bg-dark: #0c0f0a;
    --bg-dark-50: rgba(12, 15, 10, 0.5);
    --bg-dark-20: rgba(12, 15, 10, 0.2);
  }
  html {
    height: 100%;

    body {
      min-height: 100%;
    }
  }

  a:link,
  a:visited {
  }
  a:hover,
  a:active {
  }
  h1 {
    @apply text-7xl font-semibold;
  }

  h2 {
    @apply text-4xl font-semibold tracking-tight;
  }
  h3 {
    @apply text-2xl font-semibold;
  }

  input {
    height: 20px;
    border: solid 1px;
  }
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    @apply border-lunar-green-600;
    @apply border-r-lunar-green-100;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid;
    @apply border-lime-800;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
